<div class="smart-green" >
<div ng-controller="homectrl">
            <h1>Add New Employee</h1>
            <br>Enter Code: 
			<input type="text" ng-model="emp.code" name="code"/><br />
             <br>Enter Name:
			<input type="text" ng-model="emp.name" name="name"/><br />
             <br>Enter City:
			 <input type="text" ng-model="emp.city" name="city" /><br />
            <br> <input type="button" ng-click="add()" value="ADD" class="btn btn-link" id="submitEmployeeData"/> </br>
</div>    
</div>